body {
  background-color: #8730e5;
}


h1, h2 {
  font-size: 100px;
  float: none;
  color: white;
  text-align: center;
}

p{
  font-size:45px;
  float:none;
  color:white;
  text-align: center;
}

.column1 {
  float:left;
  width: 33%;
  padding-left:0.34%;

}

.column2 {
  float:left;
  width: 33%;
  padding-left:0.33%;


}

.column3 {
  float:left;
  width: 33%;
  padding-left:0.33%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.ntignew {
  border-radius: 25%;
  float: left;
  width:100%;
      height: 21vw;
      margin-bottom:12%;s

}


.csh {
  width: 100%;
  border-radius: 25%;
  text-align: center;
  height: 21.5vw;
}

.msp {
  width: 95%;
  border-radius: 25%;
  text-align: center;
}



@media only screen and (max-width: 650px) {
  .column1,.column2,.column3 {
    text-align:center;
    width:95%;
    max-width:100%;
  }

  .ntignew, .csh{
    height:100%;
  }


  h1 {
    font-size: 30px;
  }
}
